.button {
	background-color: black;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.button:hover {
	background-color: grey;
	transition: background-color 0.3s ease;
}